.navbar {
	background-color:#353535;
	width:100%;
	

}
.logo img{
	margin-left:12%;
}

/* Position the navbar container inside the image */
.knoppenset {
  position: fixed;
  right:14%;
  width: auto;
  
  
}

/* The navbar */
.navknop {
  overflow: hidden;
  background-color: #353535;
  float:left;
  
  
}

/* Navbar links */
.navknop a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 24px 12px;
  text-decoration: none;
  font-size: 9px;
  
}

.navknop a:hover {
  color: orange;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 9px;  
  border: none;
  outline: none;
  color: white;
  padding: 24px 16px;
  background-color: inherit;
  font-family: Arial, Helvetica, sans-serif;
}

.dropdown button:hover{
	color:orange;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top:46px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

